<!DOCTYPE html>
<html lang="en">
<head>
    {{ $pageTitle := (cond (ne (.Page.Title) nil) .Page.Title .Site.Title) }}
    <title>{{ $pageTitle }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Description }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <meta property="og:title" content="{{ $pageTitle }}" />
    <meta property="og:description" content="{{ .Description }}" />
    <meta property="og:image" content="{{ relURL "/images/opengraph/cli.png" }}" />

    {{ $css := resources.Get "css/theme.css" }}
    {{ $style := $css | resources.Minify }}
    <link href="{{ $style.RelPermalink }}" rel="stylesheet">

    {{ block "head" . }}{{ end }}
</head>
<body>
    <div class="wrapper">
        <header>
            {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
        </header>
        <main id="main">
            {{ block "main" . }}{{ end }}
        </main>
        <footer>
            <p class="nav-title">
                <a href="/">
                    > cli
                </a>
            </p>
            <a class="github" href="https://github.com/electrototo" target="_blank" rel="external noreferrer">
                <image height="24" src="/svg/github-mark-white.svg" alt="Link to my GitHub"/>
            </a> 
            <small>&copy {{ time.Now.Year }}, Cristobal Liendo. All rights reserved.</small>
        </footer>
        {{ block "bottom" . }}{{ end }}
    </div>
</body>
</html>